<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.magic.calendar</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Frameworks/Python.framework/Versions/3.13/bin/python3</string>
    <string>push_today.py</string>
    <string>--ip</string><string>192.168.1.134</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/yuweimao/Desktop/Calendar sticker/magic</string>
  <key>StartCalendarInterval</key>
  <dict><key>Hour</key><integer>0</integer><key>Minute</key><integer>5</integer></dict>
  <key>StandardOutPath</key><string>/tmp/magic-calendar.log</string>
  <key>StandardErrorPath</key><string>/tmp/magic-calendar.err</string>
</dict>
</plist>
